<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VT-APP</title>
  <!-- Tailwind CSS CDN -->
  <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-900 font-sans">

  <!-- Navbar -->
  <header class="bg-gray-700 shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
      <a class="text-2xl font-bold text-indigo-600 hover:text-blue-400" href="/">VT-APP</a>
      <nav>
        <a href="/ctrl1" class="text-gray-300 hover:text-indigo-600 px-4">Controller-A</a>
        <a href="/ctrl2" class="text-gray-300 hover:text-indigo-600 px-4">Controller-B</a>
        <a href="/play1" class="text-gray-300 hover:text-indigo-600 px-4">Device-A</a>
        <a href="/play2" class="text-gray-300 hover:text-indigo-600 px-4">Device-B</a>
        <a href="/video" class="text-gray-300 hover:text-indigo-600 px-4">Manage Videos</a>
        <a href="#/login" class="text-gray-300 hover:text-indigo-600 px-4">Login</a>
      </nav>
    </div>
  </header>

  <!-- Hero Section -->
  <section id="home" class="h-screen flex items-center justify-center bg-cover bg-center" style="background-image: url('https://source.unsplash.com/1600x900/?nature');">
    <div class="text-center text-white px-4">
      <h2 class="text-2xl font-thin mb-12">Welcome </h2>
      <h2 class="text-5xl font-extrabold">VERTICAL TV APP </h2>
    </div>
  </section>


  <!-- Footer -->
  <footer class="bg-gray-900 text-gray-700 py-6">
    <div class="container mx-auto text-center">
      <p>&copy; Developed By: ENG-Department.</p>
    </div>
  </footer>

</body>
</html>
